.HighlightContainer__rect {
  position: absolute;
  background: rgba(255, 226, 143, 0.4);
  cursor: pointer;
}

.HighlightContainer__icon {
  position: absolute;
  right: 2px;
  bottom: 2px;
  color: #c0392b;
  font-size: 14px;
  background: white;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
